<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Gym</title>
    <link rel="shortcut icon" href="images/image.png" type="image/png">
    <link rel="stylesheet" href="css/style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
         <style>
           
         </style>
</head>
<body>
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div id="konk" class="container-fluid">
     <img class="logo-top" src="./images/logoooo.png" alt="">
    <a class="navbar-brand" href="#">Fitness Gym</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{!-- <li><a href="/signup" class="nav-link">Sign up</a></li> --}}
            {{!-- <li><a href="/signin" class="nav-link">Sign in</a></li> --}}
            <li><a href="/logout" class="nav-link">Logout</a></li>
          
        </ul>
    </div>
  </div>
</nav>
     {{!-- <div class="logos">
            <div class="contu"><img class="lgo" src="images/call.png" alt="">+91 9024910905</div>
            <div class="contu"><img class="lgo" src="images/email.png" alt="">hayitsdeepakgoswami@gmail.com</div>
            <div class="contu"><img class="lgo" src="images/fb.png" alt="">Deepak Goswami</div>
            <div class="contu"><img class="lgo" src="images/insta.png" alt="">_deepak__goswami</div>
            <div class="contu"><img class="lgo" src="images/teligram.png" alt="">Deepak Goswami</div>
            <div class="contu"><img class="lgo" src="images/whatsapp.png" alt="">9024910905</div>
            
        </div> --}}
        
    {{!-- </div> --}}
       <div class="form">
         <form action=""method="POST" class="contaact-info">
           <input type="text"class="contact-mar"  name="naam" placeholder="Enter Your Name">
           <input type="email"class="contact-mar" name="mail" placeholder="Enter Your Email id">
           <input type="input"class="contact-mar" name="subject" placeholder="Enter Your Subject ">
           <textarea name="textarea"class="contact-mar" id="" cols="30" rows="10" placeholder="Enter someting About You"></textarea>
         </form>
       </div>
      <footer>https://www.deepakfitnessweb.com</footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>